<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">


<title>SILIB-VILL</title>

<!-- Custom styles for this template -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/fa.min.css" rel="stylesheet">
<link href="css/home.css" rel="stylesheet">


</head>

<body id="myPage" data-spy="scroll" data-target=".navbar"
	data-offset="50">

<!-- barra encabezado -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#myPage"><span class="fa fa-book" aria-hidden="true"></span>Tu librería digital</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#myPage">INICIO</a></li>
					<li><a href="#site">SITIO</a></li>
					<li><a href="#escritores">ESCRITORES</a></li>
					<li><a href="#contact">CONTACTOS</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">MAS <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Merchandise</a></li>
							<li><a href="#">Extras</a></li>
							<li><a href="#">Media</a></li>
						</ul></li>
					<li><a href="#"><span class="fas fa-search"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>

<!-- carousel top escritores -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="imgs/mF-H2.jpg" alt="New York" width="1200" height="100">
				<div class="carousel-caption">
					<h3>Mariana Falconí Samaniego</h3>
					<p>ESCRITORA</p>
				</div>
			</div>

			<div class="item">
				<img src="imgs/M2.jpg" alt="Chicago" width="1200" height="100">
				<div class="carousel-caption">
					<h3>Blanca Torres</h3>
					<p>ESCRITORA</p>
				</div>
			</div>

			<div class="item">
				<img src="imgs/M3.jpg" alt="Los Angeles" width="1200" height="100">
				<div class="carousel-caption">
					<h3>Marcia Town</h3>
					<p>ESCRITORA, LECTORA</p>
				</div>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel"
			data-slide="prev"> <span class="fa fa-chevron-left"
			aria-hidden="true"></span> <span class="sr-only">Anterior</span>
		</a> <a class="right carousel-control" href="#myCarousel"
			data-slide="next"> <span class="fa fa-chevron-right"
			aria-hidden="true"></span> <span class="sr-only">Siguiente</span>
		</a>
	</div>

	<!-- Container (The Band Section) -->

	<div id="site" class="container text-center">
		<h3>LEE EN CUALQUIER MOMENTO, EN CUALQUIER LUGAR</h3>
		<p>
			<em>Nosotros amamos la lectura y escritura!</em>
		</p>
		<p>Nuestro proposito es exponer nuestras obras a nuestra comunidad
			de lectores que disfrutan de un buen libro de escritores ecuatorianos
			expertos y principiantes que necesitan el espacio para dar a conocer
			su talento!</p>
		<br>
	</div>

	<!-- escritores -->
	<div id="escritores" class="bg-1">
		<div class="container">
			<div class="container-1">
				<div class="row">
					<div class="col-md-6">
						<img src="imgs/mF-H1.jpg" class="img-responsive" alt="">
						<div class="caption">
							<strong>Mariana Falconí Samaniego</strong>
						</div>
						<div class="caption-2">
							<h3>ESCRITORA</h3>
						</div>
					</div>
					<div class="col-md-6">
						<img src="imgs/H2.jpg" alt="" class="img-responsive">
						<div class="caption">
							<strong>Franco Ludo</strong>
						</div>
						<div class="caption-2">
							<h3>ESCRITOR LECTOR</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="container-1">
				<div class="row">
					<div class="col-md-6">
						<img src="imgs/H3.jpg" alt="" class="img-responsive">
						<div class="caption">
							<strong>Pan Daho</strong>
						</div>
						<div class="caption-2">
							<h3>ESCRITOR</h3>
						</div>
					</div>
					<div class="col-md-6">
						<img src="imgs/H4.jpg" alt="" class="img-responsive">
						<div class="caption">
							<strong>Mik Walls</strong>
						</div>
						<div class="caption-2">
							<h3>ESCRITOR</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4>
						<span class="fa fa-lock"></span> Tickets
					</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="psw"><span class="fa fa-shopping-cart"></span>
								Tickets, $23 per person</label> <input type="number"
								class="form-control" id="psw" placeholder="How many?">
						</div>
						<div class="form-group">
							<label for="usrname"><span class="fa fa-user"></span>
								Send To</label> <input type="text" class="form-control" id="usrname"
								placeholder="Enter email">
						</div>
						<button type="submit" class="btn btn-block">
							Pay <span class="fa fa-check"></span>
						</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger btn-default pull-left"
						data-dismiss="modal">
						<span class="fa fa-minus-circle"></span> Cancel
					</button>
					<p>
						Need <a href="#">help?</a>
					</p>
				</div>
			</div>
		</div>
	</div>


	<!-- Container (Contact Section) -->
	<div id="contact" class="container">
		<h3 class="text-center">Contactos</h3>
		<p class="text-center">
			<em>Nosotros amamos a nuestros fans!</em>
		</p>

		<div class="row">
			<div class="col-md-4">
				<p>Fan? Dejanos una nota.</p>
				<p>
					<span class="fa fa-map-marker"></span>Quito, ECUADOR
				</p>
				<p>
					<span class="fa fa-phone"></span>Teléfono: +00 1515151515
				</p>
				<p>
					<span class="fa fa-envelope"></span>Coreeo electrónico:
					mail@mail.com
				</p>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-sm-6 form-group">
						<input class="form-control" id="name" name="name"
							placeholder="Name" type="text" required>
					</div>
					<div class="col-sm-6 form-group">
						<input class="form-control" id="email" name="email"
							placeholder="Email" type="email" required>
					</div>
				</div>
				<textarea class="form-control" id="comments" name="comments"
					placeholder="Comment" rows="5"></textarea>
				<br>
				<div class="row">
					<div class="col-md-12 form-group">
						<button class="btn pull-right" type="submit">Send</button>
					</div>
				</div>
			</div>
		</div>
		<br>
		<h3 class="text-center">En Este Blog</h3>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#home">Mike</a></li>
			<li><a data-toggle="tab" href="#menu1">Chandler</a></li>
			<li><a data-toggle="tab" href="#menu2">Peter</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<h2>Mike Ross, Manager</h2>
				<p>Man, we've been on the road for some time now. Looking
					forward to lorem ipsum.</p>
			</div>
			<div id="menu1" class="tab-pane fade">
				<h2>Chandler Bing, Guitarist</h2>
				<p>Always a pleasure people! Hope you enjoyed it as much as I
					did. Could I BE.. any more pleased?</p>
			</div>
			<div id="menu2" class="tab-pane fade">
				<h2>Peter Griffin, Bass player</h2>
				<p>I mean, sometimes I enjoy the show, but other times I enjoy
					other things.</p>
			</div>
		</div>
	</div>

	<!-- Image of location/map -->
	<img src="imgs/ubicacion.jpg" class="img-responsive"
		style="width: 100%">

	<!-- Footer -->
	<footer class="text-center">
		<a class="up-arrow" href="#myPage" data-toggle="tooltip"
			title="TO TOP"> <span class="fa fa-chevron-up"></span>
		</a><br> <br>
		<p>
			Sitio realizado por <a href="https://www.google.com"
				data-toggle="tooltip" title="Visita le-vill consultor">www.le-vill.com</a>
		</p>
	</footer>


	<!-- js home -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/home.js"></script>

</body>

</html>
