<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">



<title>Perfil</title>

<!-- Custom styles for this template -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/fa.min.css" rel="stylesheet">
<link href="css/perfil.css" rel="stylesheet">


</head>

<body id="myPage" data-spy="scroll" data-target=".navbar"
	data-offset="20">

	<div class="container-fluid">
		<div id="detalle" class="container text-center">
			<div class="row">
				<div class="col-md-2">
					<img src="imgs/mf-V1.jpg" class="img-responsive img-circle" alt=""
						width="120" height="120">
				</div>
				<div class="col-md-10">
					<h3>AUTOR</h3>
					<p>
						<em>Mariana Falconí Samaniego</em> <br> <a
							class="text-center"
							href="https://www.facebook.com/profile.php?id=100008501718715"><i
							class="fab fa-lg fa-facebook-f"></i></a> <a><i
							class="fab fa-lg fa-twitter"></i></a> <a
							href="https://www.instagram.com/leninsasos/"><i
							class="fab fa-lg fa-instagram"></i></a> <br>
					</p>
					<p>
						MARIANA FALCONI SAMANIEGO: Poeta y Narradora Ecuatoriana, nacida
						en Riobamba. Escribe desde los 20 años en que descubrió la magia
						de la palabra, el embrujo de poder transformar frases simples en
						metáforas y ser capaz de desnudar su alma en cada verso, en cada
						poema y reflejar sus sueños y anhelos por un mundo mejor en las
						fantásticas historias que habitan las páginas de sus cuentos y
						novelas.<a data-toggle="collapse" data-target="#demo"> Más...</a>
					</p>

					<div id="demo" class="collapse">
						<p>Ha publicado: 9 libros EN POESÍA: Y 40 libros EN NARRATIVA
							INFANTIL Y JUVENIL</p>
						<em>GALARDONES:</em>
						<p>- Premio de Poesía, CIEPE. 1990. - Mención de honor, Poesía
							Inedita a Quito.- Municipio de Quito.-1994 - Condecoración al
							Mérito Educativo y Cultural por el H.Consejo provincial de
							Pichincha.-1996. - Tercer Premio, Concurso Nacional de cuento
							femenino”Jorge Luis Borges”.- 1997. - Premio exhibición
							internacional de “Poemas Poster”.Universidad de Santo Tomás.
							Canadá.-2000 - Primer Premio, Concurso Nacional de Poesía
							“Gabriela Mistral”.- 2001. - Mención especial 3º concurso cuento
							infantil “Alicia Yánez Cossío”.-2006 - Finalista en Bienal de
							poesía “El poeta y su Voz” Casa de la Cultura, núcleo de Manabí.-
							2006. - Condecoración al Mérito Laboral por su trabajo en el
							campo cultural, Ministerio de Trabajo.- mayo 2008. - Jurado
							calificador del Concurso Nacional de Festivales, organizado por
							el Min. Cultura 2013. Su poesía ha sido traducida al inglés y
							portugués y consta en antologías nacionales e internacionales. Ha
							viajado invitada a otros países como Mëxico, Perú, Colombia y
							Venezuela. Pertenece a: la Sociedad Ecuatoriana de Escritores .
							La Casa del Poeta Peruano, sede Quito. La Corporación de
							Escritores Ecuatorianos y Latinoamericanos. Taller Cultural
							RETORNO GIRÁNDULA, Asociación Ecuatoriana del libro infantil y
							juvenil. Ha sido Jurado en cientos de concursos intercolegiales
							de poesía y narrativa</p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- barra menú -->
	<nav class="navbar navbar-inverse" data-spy="affix"
		data-offset-top="197">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#inicio"><span class="fa fa-book" aria-hidden="true"></span>Tu librería digital</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#detalle">AUTOR</a></li>
					<li><a href="#obras">OBRAS</a></li>
					<li><a href="#cursos">CURSOS</a></li>
					<li><a href="#contactos">CONTACTOS</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">MAS <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Merchandise</a></li>
							<li><a href="#">Extras</a></li>
							<li><a href="#">Media</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
	<hr>

	<!-- obras -->
	<div id="obras" class="bg-1">

		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="container">
						<div class="row text-center">
							<div class="col-sm-4">
								<div class="thumbnail">
									<img src="imgs/portadaCuentosTerrorLat.jpg"
										class="img-responsive d-block w-100" alt="">
									<p>
										<strong>Cuentos De Terror Latinoamerica</strong>
									</p>
									<p>Fri. 27 November 2015</p>
									<button class="btn">Comprar libro</button>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumbnail">
									<img src="imgs/portadaCuentosTradicionesIV.jpg"
										class="img-responsive" alt="">
									<p>
										<strong>Cuentos Tradiciones vol IV</strong>
									</p>
									<p>Sat. 28 November 2015</p>
									<button class="btn">Comprar libro</button>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumbnail">
									<img src="imgs/portadaCuentosTradicionesV.jpg"
										class="img-responsive" alt="">
									<p>
										<strong>Cuentos Tradiciones vol V</strong>
									</p>
									<p>Sun. 29 November 2015</p>
									<button class="btn">Comprar libro</button>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="item">
					<div class="container">
						<div class="row text-center">
							<div class="col-sm-4">
								<div class="thumbnail">
									<img src="imgs/portadaCuevaTayos.jpg"
										class="img-responsive d-block w-100" alt="">
									<p>
										<strong>Cueva De Los Tayos</strong>
									</p>
									<p>Fri. 27 November 2015</p>
									<button class="btn">Comprar libro</button>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumbnail">
									<img src="imgs/portadaElJardinEncantado.jpg"
										class="img-responsive" alt="">
									<p>
										<strong>El Jardin Encantado</strong>
									</p>
									<p>Sat. 28 November 2015</p>
									<button class="btn">Comprar libro</button>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumbnail">
									<img src="imgs/portadaFrontalFace2-1.jpg"
										class="img-responsive" alt="">
									<p>
										<strong>Facebook</strong>
									</p>
									<p>Sun. 29 November 2015</p>
									<button class="btn">Comprar libro</button>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="item">
					<div class="container">
						<div class="row text-center">
							<div class="col-sm-4">
								<div class="thumbnail">
									<img src="imgs/portadaFrontalPlenilunio.jpg"
										class="img-responsive d-block w-100" alt="">
									<p>
										<strong>Plenilunio</strong>
									</p>
									<p>Fri. 27 November 2015</p>
									<button class="btn">Comprar libro</button>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumbnail">
									<img src="imgs/portadaLaBallenaAzul.jpg" class="img-responsive"
										alt="">
									<p>
										<strong>La Ballena Azul</strong>
									</p>
									<p>Sat. 28 November 2015</p>
									<button class="btn">Comprar libro</button>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumbnail">
									<img src="imgs/portadaTemblor.jpg" class="img-responsive"
										alt="">
									<p>
										<strong>El Día Que La Tierra Tembló</strong>
									</p>
									<p>Sun. 29 November 2015</p>
									<button class="btn">Comprar libro</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="fas fa-chevron-left"></span> <span class="sr-only">Anterior</span>
			</a> <a class="right carousel-control" href="#myCarousel"
				data-slide="next"> <span class="fas fa-chevron-right"></span> <span
				class="sr-only">Siguiente</span>
			</a>
		</div>


	</div>

	<!-- cursos -->
	<div id="cursos" class="bg-1">
		<div class="container">
			<div class="container-1">
				<div class="row">
					<div class="col-md-6">
						<img src="imgs/mF-H1.jpg" class="img-responsive" alt="">
						<div class="caption">
							<strong>Mariana Falconí Samaniego</strong>
						</div>
						<div class="caption-2">
							<h3>ESCRITORA</h3>
						</div>
					</div>
					<div class="col-md-6">
						<img src="imgs/H2.jpg" alt="" class="img-responsive">
						<div class="caption">
							<strong>Franco Ludo</strong>
						</div>
						<div class="caption-2">
							<h3>ESCRITOR LECTOR</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="container-1">
				<div class="row">
					<div class="col-md-6">
						<img src="imgs/H3.jpg" alt="" class="img-responsive">
						<div class="caption">
							<strong>Pan Daho</strong>
						</div>
						<div class="caption-2">
							<h3>ESCRITOR</h3>
						</div>
					</div>
					<div class="col-md-6">
						<img src="imgs/H4.jpg" alt="" class="img-responsive">
						<div class="caption">
							<strong>Mik Walls</strong>
						</div>
						<div class="caption-2">
							<h3>ESCRITOR</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4>
						<span class="fa fa-lock"></span> Tickets
					</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="psw"><span class="fa fa-shopping-cart"></span>
								Tickets, $23 per person</label> <input type="number"
								class="form-control" id="psw" placeholder="How many?">
						</div>
						<div class="form-group">
							<label for="usrname"><span class="fa fa-user"></span>
								Send To</label> <input type="text" class="form-control" id="usrname"
								placeholder="Enter email">
						</div>
						<button type="submit" class="btn btn-block">
							Pay <span class="fa fa-check"></span>
						</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger btn-default pull-left"
						data-dismiss="modal">
						<span class="fa fa-minus-circle"></span> Cancel
					</button>
					<p>
						Need <a href="#">help?</a>
					</p>
				</div>
			</div>
		</div>
	</div>


	<!-- Container (Contact Section) -->
	<div id="contactos" class="container">
		<h3 class="text-center">Contactos</h3>
		<p class="text-center">
			<em>Nosotros amamos a nuestros fans!</em>
		</p>

		<div class="row">
			<div class="col-md-4">
				<p>Fan? Dejanos una nota.</p>
				<p>
					<span class="fa fa-map-marker"></span>Quito, ECUADOR
				</p>
				<p>
					<span class="fa fa-phone"></span>Teléfono: +00 1515151515
				</p>
				<p>
					<span class="fa fa-envelope"></span>Coreeo electrónico:
					mail@mail.com
				</p>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-sm-6 form-group">
						<input class="form-control" id="name" name="name"
							placeholder="Name" type="text" required>
					</div>
					<div class="col-sm-6 form-group">
						<input class="form-control" id="email" name="email"
							placeholder="Email" type="email" required>
					</div>
				</div>
				<textarea class="form-control" id="comments" name="comments"
					placeholder="Comment" rows="5"></textarea>
				<br>
				<div class="row">
					<div class="col-md-12 form-group">
						<button class="btn pull-right" type="submit">Send</button>
					</div>
				</div>
			</div>
		</div>
		<br>
		<h3 class="text-center">En Este Blog</h3>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#home">Mike</a></li>
			<li><a data-toggle="tab" href="#menu1">Chandler</a></li>
			<li><a data-toggle="tab" href="#menu2">Peter</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<h2>Mike Ross, Manager</h2>
				<p>Man, we've been on the road for some time now. Looking
					forward to lorem ipsum.</p>
			</div>
			<div id="menu1" class="tab-pane fade">
				<h2>Chandler Bing, Guitarist</h2>
				<p>Always a pleasure people! Hope you enjoyed it as much as I
					did. Could I BE.. any more pleased?</p>
			</div>
			<div id="menu2" class="tab-pane fade">
				<h2>Peter Griffin, Bass player</h2>
				<p>I mean, sometimes I enjoy the show, but other times I enjoy
					other things.</p>
			</div>
		</div>
	</div>

	<!-- Image of location/map -->
	<img src="imgs/ubicacion.jpg" class="img-responsive"
		style="width: 100%">

	<!-- Footer -->
	<footer class="text-center">
		<a class="up-arrow" href="#myPage" data-toggle="tooltip"
			title="TO TOP"> <span class="fa fa-chevron-up"></span>
		</a><br> <br>
		<p>
			Sitio realizado por <a href="https://www.google.com"
				data-toggle="tooltip" title="Visita le-vill consultor">www.le-vill.com</a>
		</p>
	</footer>


	<!-- js home -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/perfil.js"></script>


</body>

</html>
